<div class="card">
  <h2>Add Product Details</h2>
  <div class="input">
    <label for="productId">Product Id</label>
    <input id="productId" />
  </div>
  <div class="input">
    <label for="productName">Product Name</label>
    <input id="productName" />
  </div>
  
  <div class="input">
    <label for="productDesc">Product Quantity</label>
    <input id="Quantity">
  </div>
  <div class="input">
    <label for="productPrice">Product Price</label>
    <input id="productPrice"/>
  </div>
  <div class="input">
    <label for="productImg">Product Image URL</label>
    <input id="productImg" />
  </div>
  <button class="saveProduct">Save</button>
</div>
