<div class="card">
  <h4 class="name">{{item.name}}</h4>
  <img class="card-img" src="../../assets/images/product1.jpeg" alt="" />
  <p class="description">

    {{item.description}}
  </p>
  <div class="box">
    <div class="price">${{item.price}}</div>
    <input type="number" placeholder="Enter Price" class="entPrice" *ngIf = "type == 'sell'" [(ngModel)] = "price">
    <button class="buy" *ngIf="type != 'sell'" (click) ="executeBuy()">
      <p class="btn-text" >Buy</p>
    </button>

    <input type="number" min="1" max={{item.quantity}} *ngIf="type=='sell'" placeholder="Quantity" class="quantity" [(ngModel)]="quantity">
    <button class="buy" *ngIf="type == 'sell'" (click) = "executeSell()">
      <p class="btn-text" >Sell</p>
    </button>
  </div>
</div>
